<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.SET_ALARM" />


    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:name=".WeatherApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_5"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/icon_5"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBase">


        <activity
            android:name="com.caloriecounter.calorie.ui.splash.view.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.main.view.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.search.view.SearchActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.slideimage.view.DetailImageActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.newlivewallpaper.MainActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.livewallpaper.view.LiveActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.caloriecounter.calorie.ui.livewallpaper.view.LiveWallpaperDetailActivity"  android:screenOrientation="portrait"/>
        <activity android:name="com.caloriecounter.calorie.ui.categorydetail.view.CategoryDetailActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.mywallpaper.view.MyWallpaperActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.downloaded.view.DownloadedActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.autochangewallpaper.view.AutoChangeActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.doubledetail.view.DetailDoubleImageActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.similar.DetailSimilarImageActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.caloriecounter.calorie.ui.slideimage.view.InstallSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.caloriecounter.calorie.ui.charging.view.ChargingDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.caloriecounter.calorie.ui.charging.view.ChargingPreviewActivity" android:screenOrientation="portrait"/>
        <activity
            android:excludeFromRecents="false"
            android:noHistory="false"
            android:name=".ui.charging.view.ChargingActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="Test Screen"
            android:launchMode="singleTop"
            android:theme="@style/ChargingTheme"/>
        <activity android:name="com.caloriecounter.calorie.ui.premium.PremiumActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.caloriecounter.calorie.ui.onboarding.view.OnboardingActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.slideimage.view.WalliveDetailImageActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.preview.PreviewActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.slideimage.view.WalliveDetailVideoActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.preview.PreviewVideoActivity" android:screenOrientation="portrait" />
        <activity android:name="com.caloriecounter.calorie.ui.downloaded.view.PreviewDownloadedContentActivity" android:screenOrientation="portrait" />

        <service
            android:name=".ui.newlivewallpaper.GLWallpaperService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <!-- Phone Launch, long press -> select background -> live background -->
            <!-- Has background image and label as app name, android 10 label = name -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/launcher_thumbnail" />
        </service>

        <service android:name=".ui.charging.services.WorkService" />

        <service
            android:name=".ui.autochangewallpaper.service.UIWidgetWallpaper"
            android:enabled="true"
            android:exported="true"
            android:label="@string/auto_wallpaper_changer_label"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <!-- Phone Launch, long press -> select background -> live background -->
            <!-- Has background image and label as app name, android 10 label = name -->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/launcher_thumbnail" />
        </service>

        <receiver
            android:name=".service.DailyForecastBR"
            android:enabled="true"
            android:exported="false" />

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.ads.APPLICATION_ID"-->
<!--            android:value="ca-app-pub-3940256099942544~3347511713" />-->


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6989606115612474~5765046815" />
    </application>

</manifest>